@model IEnumerable<HappyDaysOne.Models.Activity>

@{
    ViewBag.Title = "AllActivities";
}


<h1> </h1>
<h3><u>All Activities</u></h3>
<h1> </h1>
<h4>Click on an Activity to find out more</h4>
<h1></h1>
<table class="table-bordered">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(Model => Model.NameOfActivity)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.AgeGroup)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.PriceOfActivity)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.MaxCapacity)

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.NameOfActivity, "Activity Details", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceOfActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCapacity)
            </td>
        </tr>
    }

</table>
<div>
    <p>   </p>
    @Html.ActionLink("Add New Activity", "Create")
</div>
